<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="w-full bg-white shadow-md border flex justify-center px-4 py-2">
        <div class="flex w-1/2 justify-between items-center">
            <h1 class="text-xl font-semibold">
                <a href="/">AdonisGram</a>
            </h1>
            @if(auth.isAuthenticated && auth.user.email_verified_at === null)
            <form action="/verify-email" method="POST">
                <input type="submit" value="Resend" class="px-2 py-1 rounded border">
            </form>
            @endif
            <div>
                @if(auth.isAuthenticated)
                
                <div class="relative inline-block text-left">
                    <div id="dropdown">
                        <img src="{{auth.user.avatar}}" alt="User avatar" class="h-8 w-8 rounded-full border">
                    </div>
                   
                    <div id="dropdown-items" class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                      <div class="" role="none">
                        <a href="{{auth.user.username}}" class="hover:bg-gray-100 border-b border-gray-100 text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Profile</a>
                        <form method="POST" action="#" role="none">
                          <a href="/logout" class="hover:bg-gray-100 text-gray-700 block w-full px-4 py-2 text-left text-sm" role="menuitem" tabindex="-1" id="menu-item-3">Sign out</a>
                        </form>
                      </div>
                    </div>
                </div>
                @endif
            </div> 
        </div>
    </nav>

    <div class="bg-gray-100 min-h-screen flex justify-center">
        <section class="w-full md:w-1/2">
            @section('content')

            @endsection
        </section>
    </div>

    <script src="js/script.js"></script>
</body>

</html>